USE [master]
GO
/****** Object:  Database [ShoppingCart]    Script Date: 12/28/2017 3:21:40 PM ******/
CREATE DATABASE [ShoppingCart]
 GO
USE [ShoppingCart]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/28/2017 3:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[CartId] [nvarchar](500) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[DateCreated] [datetime] NULL,
	[Amount] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/28/2017 3:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderReference] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NULL,
	[Othername] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[AddressLine1] [nvarchar](50) NULL,
	[AddressLine2] [nvarchar](50) NULL,
	[OrderDate] [datetime] NULL,
	[PaymentReference] [nvarchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 12/28/2017 3:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderReference] [nvarchar](20) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/28/2017 3:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[PrpductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductImage] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[PrpductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([RecordId], [CartId], [ProductId], [Count], [DateCreated], [Amount]) VALUES (2, N'1ec3d703-58ea-43f3-badd-b0785ec0b883', 6, 1, CAST(N'2017-12-28 12:23:34.373' AS DateTime), CAST(4810 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Cart] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([PrpductId], [ProductName], [Description], [Price], [ProductImage]) VALUES (4, N'HP Pavilion 15 Intel Core I5 2.3 GHz ', N'PAVILION 15 INTEL CORE I5 2.3 GHZ (12GB RAM, 1TB HDD) 15.6-INCH WINDOWS 10 TOUCHSCREEN LAPTOP+ 32GB FLASH', CAST(205000.00 AS Decimal(18, 2)), N'lap.jpg')
INSERT [dbo].[Product] ([PrpductId], [ProductName], [Description], [Price], [ProductImage]) VALUES (5, N'
Franck Olivier Oud Touch EDP Perfume For Men - 100ml', N'Bunnie Hub 100ml Brown', CAST(13000.00 AS Decimal(18, 2)), N'oud.jpg')
INSERT [dbo].[Product] ([PrpductId], [ProductName], [Description], [Price], [ProductImage]) VALUES (6, N'Tang Women Sexy African Print V-neck Dashiki Bodycon Stretch Club Dress', N'S:Length:78cm/ Shoulder:32cm/ Bust:85cm/ Waist:67cm/ Hip:92cm M:Length:80cm/ Shoulder:34cm/ Bust:90cm/ Waist:72cm/ Hip:97cm L:Length:82cm/ Shoulder:36cm/ Bust:95cm/ Waist:77cm/ Hip:102cm XL:Length:84cm/ Shoulder:38cm/ Bust:100cm/ ', CAST(4810.00 AS Decimal(18, 2)), N'wmc.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
USE [master]
GO
