@model Paystack.Net.Models.TransactionResponseModel
@{
    ViewBag.Title = "Index";
}

<div style="margin-top:40px">
    <h2>Success Response</h2>
<pre>

@Html.Raw(Json.Encode(Model));

</pre>

</div>