
@{
    ViewBag.Title = "Index";
}

<div class="container">
    @Html.Action("PorductsPartial", "Home");
</div>


@section Scripts{

    <script>

            function cartCount() {
            return $.ajax({
                type: "GET",
                url: "@Url.Action("CartItemCount", "AppLogic", new { area=""})"
            });
        }

           function addToCart(data) {
            return $.ajax({
                type: "POST",
                url: "@Url.Action("AddToCart", "AppLogic", new { area=""})",
                    data: data,
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8'
            });
           }

           $(function () {

               $.when(cartCount()).then(function (res) {

                   $(".item-count").html('');
                   $(".item-count").html(res.itemCount);
               });

               $(".cart-logo").click(function (e) {
                   e.preventDefault;
                   var url = "@Url.Action("index", "ShoppingCart", new { area=""})";
                   location.href = url;
               });

            $(document).on("click",".addToCartButton",function (e) {
                e.preventDefault();
                var $self = $(this);
                var data = JSON.stringify({
                    RecordId:0,
                    CartId:'',
                    ProductId: $(this).attr("href"),
                    Count: 1,
                    Amount: $(this).attr("data-amount")
                });
                $.when(addToCart(data)).then(function (res) {
                    if (res.error == false) {


                        //Select item image and pass to the function
                        var imgtodrag = $self.parents('.prod-info-main').eq(0).children().find("img").eq(0);

                        //console.log(imgtodrag);
                        flyToElement($(imgtodrag), $('.navbar-right'));
                        $.when(cartCount()).then(function (res) {

                            $(".item-count").html('');
                            $(".item-count").html(res.itemCount);
                        });
                    } else {

                    }

                }).fail(function (err) {

                });


            });


        });


    </script>

}
